.minifigures {
  height: 480px;
  padding: 0 64px;
  background: url("../img/bg-minifigures.jpg");

  @media screen and (max-width: 999px) {
    padding: 0 32px;
    text-align: center;
    background: $darken_bg, url("../img/bg-minifigures.jpg") center right;
  }

  @media screen and (min-width: 1000px) {
    padding: 0 32px;
    text-align: left;
    padding: 0 64px;
    background: url("../img/bg-minifigures.jpg");
  }
}

.minifigures > * {
  color: $white;

  @media screen and (max-width: 999px) {
    width: 100%;
  }

  @media screen and (min-width: 1000px) {
    width: 33.33%;
  }
}
